.trees {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 220px;
  animation: moved 4s infinite ease-in-out;

  @media (max-width: 768px) {
    visibility: hidden;
  }
}

.trees1 {
  position: fixed;
  bottom: 0;
  left: 7%;
  overflow: hidden;
  width: 100%;
  height: 220px;
  animation: moved1 5s infinite ease-in-out;

  @media (max-width: 768px) {
    visibility: hidden;
  }
}

.trees2 {
  position: fixed;
  bottom: 0;
  left: -7%;
  overflow: hidden;
  width: 100%;
  height: 220px;
  animation: moved2 6s infinite ease-in-out;

  @media (max-width: 768px) {
    visibility: hidden;
  }
}

@keyframes moved1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moved2 {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes moved {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

.bg {
  background: linear-gradient(#ffc371, #236526);
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
}
